body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xl: 20px;

  /* Colors */
  --color-darkslategray: #4a4a4a;

  /* Border radiuses */
  --br-81xl: 100px;
}
